body {
  margin: 0 auto;
  font-family: sans-serif;
}

main {
  background-color: rgb(146 , 145 , 153);
  padding: 1px;
}

#container {
  background-color: white;
  margin-top: 50px;
  margin-left: 25px;
  margin-right: 25px;
  padding: 25px;
  padding-top: 15px;
  border-radius: 20px;
}

header p {
  font-style: italic;
  color: rgb(186 , 186 , 186);
}

header h1 {
  color: rgb(146 , 145 , 153);
}

button {
  border: none;
  border-radius: 15px;
  padding: 5px 20px;
  margin-left: 5px;
  margin-right: 5px;
}

#isSaved {
  font-style: italic;
  font-size: 80%;
  color: rgb(186 , 186 , 186);
  margin-left: 10px;
}

li {
  width: fit-content;
}

.selected {
  background-color: gray;
}

.completed {
  text-decoration: line-through;
}

footer {
  background-color: rgb(146 , 145 , 153);
  padding: 1px;
  text-align: center;
}

footer a {
  color: white;
  text-decoration: none;
}
